.company{
  border: 1px pink dotted;
  margin: 20px 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.company-picture{
  border: 1px orange dotted;
  margin-top: 50px;
}

.company-description{
  border: 1px blue dashed;
  margin-top: 50px;
}


