.company{
  margin: 20px 240px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
  align-items: center;
}

.company-picture{
  margin-top: 50px;
}

.company-description{
  margin-top: 50px;
}


