.company{
  margin: 20px 265px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 992px){
  .company{
   margin: 20px 90px;
  }
}

@media(max-width: 768px) {
  .company{
   margin: 20px 90px;
  }
}

@media(max-width: 480px) {
  .company{
   margin: 20px 60px;
  }
}

.company-picture{
  margin-top: 50px;
}

.company-description{
  margin-top: 50px;
}


