

#container-mentor strong {
  font-weight: normal;
}

.container-mentor{
  margin: 20px 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
    h2{
      color: #395e66;
    }
    p{
      color: #67A9A1;
    }
}


.card-mentor{
  text-align: justify;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media(max-width: 992px){
}

@media(max-width: 768px) {
  .container-mentor{
   display: block;
   margin: 20px 40px;
  }
}

@media(max-width: 480px) {
  .container-mentor{
   display: block;
   margin: 20px 40px;
  }
}
