<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.7) 50%), url('assets/diversity.jpg');">
  <div class="banner-home-content">
    <h1>Transforme conflitos em impulso</h1>
  </div>
</div>
