<div class="skill-title">
  <h2>Conflitos entre Sócios</h2>
  <p>Muitos conflitos entre sócios são causados por desalinhamento entre expectativas</p>
</div>

<div class="skills-content">

</div>

<div class="main-skills-container">
  <div class="container-skills">


    <div class="circle">
      <div class="skill-title">
        <p>Mapeie Incentivos e Necessidades</p>
      </div>
    </div>
      <i class="fas fa-arrow-right"></i>
    <div class="circle">
      <div class="skill-title">
        <p>Mapeie Stakeholders</p>
      </div>
    </div>
      <i class="fas fa-arrow-right"></i>
    <div class="circle">
      <div class="skill-title">
        <p>Construa Solução</p>
      </div>
    </div>
      <i class="fas fa-arrow-right"></i>
    <div class="circle">
      <div class="skill-title">
        <p>Foque nos Negócios</p>
      </div>
    </div>
  </div>
</div>

<div class="skill-title">
  <h2>Conflitos entre Founders e Investidores</h2>
  <p>Muitos conflitos entre sócios são causados por desalinhamento entre expectativas</p>
</div>


<div class="main-skills-container">
  <div class="container-skills">


    <div class="circle">
      <div class="skill-title">
        <p>Mapeie Incentivos e Necessidades</p>
      </div>
    </div>

    <div class="circle">
      <div class="skill-title">
        <p>Mapeie Stakeholders</p>
      </div>
    </div>
    <div class="circle">
      <div class="skill-title">
        <p>Construa Solução</p>
      </div>
    </div>
    <div class="circle">
      <div class="skill-title">
        <p>Foque nos Negócios</p>
      </div>
    </div>

  </div>

</div>
