<div class="main-skills-container">
  <div class="container-skills">

    <div class="circle">
    </div>
    <div class="circle">
    </div>
    <div class="circle">
    </div>
    <div class="circle">
    </div>

  </div>

</div>
