<div class="container">
  <div class="value-card">
    <i class="fas fa-star"></i>
    <h2>Filtre o positivo</h2>
    <p>O ambiente de inovação é por definição conflituoso. Saiba como tirar proveito da parte positiva</p>
  </div>
  <div class="value-card">
    <i class="fas fa-hand-holding-usd"></i>
    <h2>Mais rápido e barato</h2>
    <p>Resolver de maneira inteligente agiliza a solução e economica gastos desnecessários! Preservar a relação vem de brinde</p>
  </div>
  <div class="value-card">
    <p><i class="fas fa-bullseye"></i></p>
    <h2>Foque nos negócios</h2>
    <p>Mantenha sua atenção no que realmente é importante para seu negócio se manter relevante no mercado</p>
  </div>
</div>
