<div class="container">
  <div class="value-card">
    <p><i class="fas fa-smile-wink"></i></p>
    <h2>Aproveite a parte positiva dos conflitos</h2>
    <p>Saiba como aproveitar a parte positiva dos conflitos e potencializar ainda mais sua empresa</p>
  </div>
  <div class="value-card">
    <p><i class="fas fa-hand-holding-usd"></i></i></p>
    <h2>Economize tempo e dinheiro</h2>
    <p>Resolver de maneira inteligente agiliza a solução e economica gastos desnecessários! Preservar a relação vem de brinde</p>
  </div>
  <div class="value-card">
    <p><i class="fas fa-bullseye"></i></p>
    <h2>Invista energia nos seus negócios</h2>
    <p>Mantenha sua atenção no que realmente é importante para seu negócio se manter relevante no mercado</p>
  </div>
</div>
