<div class="container">
  <div class="value-card">
    <i class="fas fa-star"></i>
    <h2><strong>Filtre o positivo</strong></h2>
    <p>O ambiente de inovação é por definição conflituoso. Saiba como aprender com ele</p>
  </div>
  <div class="value-card">
    <i class="fas fa-hand-holding-usd"></i>
    <h2><strong>Mais Eficiente</strong></h2>
    <p>Resolver de maneira inteligente agiliza a solução e evita gastos desnecessários!</p>
  </div>
  <div class="value-card">
    <i class="fas fa-smile-wink"></i>
    <h2><strong>Preserve as relações</strong></h2>
    <p>Mantenha sua atenção no que realmente é importante para seu negócio</p>
  </div>
</div>
