<div class="container">
  <div class="value-card">
    <p>imagem</p>
    <h2>Proposta de Valor 1</h2>
    <p>breve descrição</p>
  </div>
  <div class="value-card">
    <p>imagem</p>
    <h2>Proposta de Valor 2</h2>
    <p>breve descrição</p>
  </div>
  <div class="value-card">
    <p>imagem</p>
    <h2>Proposta de Valor 3</h2>
    <p>breve descrição</p>
  </div>

</div>
