<div class="container">
  <div class="value-card">
    <p>imagem</p>
    <h2>Aproveite a parte positiva dos conflitos</h2>
    <p>breve descrição</p>
  </div>
  <div class="value-card">
    <p><i class="fas fa-hand-holding-usd"></i></p>
    <h2>Economize tempo e dinheiro</h2>
    <p>breve descrição</p>
  </div>
  <div class="value-card">
    <p>imagem</p>
    <h2>Invista energia nos seus negócios</h2>
    <p>breve descrição</p>
  </div>

</div>
