<div class="company">
  <div class="company-title">
    <h1>Sobre o projeto</h1>
  </div>
  <div class="company-picture">
    <p>alguma foto</p>
  </div>
  <div class="company-description">
    <p>Grupo de especialistas multidisciplinar que se uniram para pensar em uma metodologia inovadora com a finalidade de proporcionar soluções em alguns setores, tais como condominial - dentro de empresas </p>
  </div>
</div>
