<div class="company">
  <div class="company-title">
    <h1>Sobre o projeto</h1>
  </div>
  <div class="company-description">
    <p>Grupo de especialistas multidisciplinar com muito conhecimento no escossistema de empreendedorismo observou que muitas startups estavam encerrando suas atividades devido `a conflitos internos e com isso propõe uma metodologia para facilitação da resolução desse conflitos. </p>
  </div>
  <div class="company-picture">
    <%= image_tag "about.jpg", height: 500 %>
  </div>
  <div class="company-description">
    <p>Acreditamos que ambientes de inovação são por definição ambientes conflituosos. Porém também acreditamos que em todo conflito há uma parte positiva que pode ser transformada em crescimento e desenvolvimento da startup.</p>
    <p>Por isso, desenvolvemos uma metodologia de facilitação de resolução de conflitos para que as startups não tirem foco dos negócios, enquanto nós cuidamos das relações</p>
  </div>
</div>
