<div class="container-mediator">

  <div class="card-mediator">
    <div class="mediator-name">
      <h2>CLAUDIA FRANKEL GROSMAN</h2>
    </div>
    <div class="mediator-special">
      <h3>Especialista em prevenção e gestão de conflitos
Mediação e Negociação</h3>

  </div>

  <div class="card-mediator">
    <div class="mediator-name">
      <h2>DANI GLIKMANAS</h2>
    </div>
    <div class="mediator-special">
      <h3>Especialista em prevenção e gestão de conflitos
societários</h3>
    </div>
    <div class="mediator-desc">
      <p> Diretor de empreendimento de varejo (mall), especialista em design thinking, conselheiro de startups, mediador de conflitos, com profundo conhecimento em mercado financeiro, mentor na cadeira de Resoluções Eficaz de Problemas do Insper, conselheiro no IBRACEM, instituto que criou a primeira plataforma de compliance com uso de inteligência artificial, e voluntário no Chapter SP da Singularity University.</p>
      </div>
    <p> Diretor de empreendimento de varejo (mall), especialista em <strong>design thinking</strong>, conselheiro de startups, mediador de conflitos, com profundo conhecimento em mercado financeiro, mentor na cadeira de Resoluções Eficaz de Problemas do <strong>Insper</strong>, conselheiro no <strong>IBRACEM</strong>, instituto que criou a primeira plataforma de compliance com uso de <em>inteligência artificial</em>, e voluntário no <strong>Chapter SP da Singularity University</strong>.</p>
  </div>
</div>
<div class="container-mediator">

  <div class="card-mediator">
    <h2>CRISTIANE JIANG</h2>
    <h3>Facilitadora Gráfica e mediadora de conflitos</h3>
    <p>Facilitadora gráfica, especialista em <strong>Comunicação não-violenta</strong>, administradora de empresas pela <strong>FEA-USP</strong> e <strong>mediadora de conflitos</strong>. Tem 15 anos de experiência em financeiras e bancos de varejo, onde desenvolveu softskills de <em>escuta ativa</em>, <strong>data science</strong> e trabalho em equipes.</p>
  </div>

  <div class="card-mediator">
    <h2>OTÁVIO D'ELIA</h2>
    <h3>Especialista em Psicanálise e mediação de conflitos</h3>
    <p>Advogado (formado na <em>faculdade de Direito da USP</em>) com vasta experiência em <em>Direito Administrativo e Tributário</em>,  bacharel em Economia (<em>FEA-USP</em>), em Filosofia (FFLCH-USP),  <em>Mestre em Ciências da Comunicação pela ECA-USP</em>, Psicólogo e Psicanalista pelo <em>Instituto Sedes Sapietiae</em>, foi professor no curso de <em>Saúde Mental e Justiça no Instituto de Medicina Legal da Faculdade de Medicina da USP</em>, <em>membro da Comissão de Ética e Pesquisa da Faculdade de Farmácia da USP</em>, mediador de conflitos judicial, foi membro da Comissão de Bioética da OBA-SP (2004).</p>
  </div>

</div>
<div class="container-mediator">
  <div class="card-mediator">
    <h2>ADMAR CONCON-NETO</h2>
    <h3>Business design e desenvolvedor web</h3>
    <p>Empreendedor serial, conselheiro de startups especialista em <strong>design thinking</strong>, <strong>design de modelo de modelo de negócios</strong> e <strong>desenvolvimento web</strong>. Mentor do programa de Resolução Eficaz de Problemas no <em>Insper</em>, <em>mentor de startups</em> no <strong>Founder Institute</strong>, voluntário no <em>Chapter SP da Singularity University</em> e faz parte do conselho de startups.</p>
  </div>
      <div class="card-mediator">
    <h2></h2>
    <h3></h3>
    <p></p>
  </div>
</div>
