<div id="container-mediator">
<div class="container-mediator">

  <div class="card-mediator">
    <div class="mediator-name">
      <h2>CLAUDIA GROSMAN</h2>
    </div>
    <div class="mediator-desc">
      <p>Certificada pelo ADR Group (Londres), IMI, International Mediation Institute e Instituto Familiae
(atual Mediativa). Integra o painel de mediadores de várias instituições nacionais e do CPR
International Institute for Conflict, Prevention & Resolution (NY). Advogada com MBA no INSPER.
Docente e Supervisora da Prática de Mediação no Instituto Mediativa e professora convidada do
Mediare RJ. Conselheira do Centro de Solução de Disputas, CSD-PI e Diretora da Câmara de
Mediação, CMed-ABPI, da Associação Brasileira de Propriedade Intelectual. Diretora da Câmara
de Mediação do Instituto de Engenharia. Mentora em gestão de Conflitos da AceStartups e
Membro do Conselho Alumni do Insper.</p>
    </div>

  </div>


  <div class="card-mediator">
    <div class="mediator-name">
      <h2>DANI GLIKMANAS</h2>
    </div>
    <div class="mediator-desc">
      <p> Diretor de empreendimento de varejo (mall), especialista em <strong>design thinking</strong>, conselheiro de startups, mediador de conflitos, com profundo conhecimento em mercado financeiro, mentor na cadeira de Resoluções Eficaz de Problemas do <strong>Insper</strong>, conselheiro no <strong>IBRACEM</strong>, instituto que criou a primeira plataforma de compliance com uso de <strong>inteligência artificial</strong>, e voluntário no <strong>Chapter SP da Singularity University</strong>.</p>
    </div>
  </div>
</div>
<div class="container-mediator">

  <div class="card-mediator">
    <h2>CRISTIANE JIANG</h2>
    <p>Facilitadora gráfica, especialista em <strong>Comunicação não-violenta</strong>, administradora de empresas pela <strong>FEA-USP</strong> e <strong>mediadora de conflitos</strong>. Tem 15 anos de experiência em financeiras e bancos de varejo, onde desenvolveu softskills de <em>escuta ativa</em>, <strong>data science</strong> e trabalho em equipes.</p>
  </div>

  <div class="card-mediator">
    <h2>OTÁVIO D'ELIA</h2>
    <p>Advogado (formado na <strong>faculdade de Direito da USP</strong>) com vasta experiência em <strong>Direito Administrativo e Tributário</strong>,  bacharel em Economia (<strong>FEA-USP</strong>), em Filosofia (FFLCH-USP),  <strong>Mestre em Ciências da Comunicação pela ECA-USP</strong>, Psicólogo e Psicanalista pelo <strong>Instituto Sedes Sapietiae</strong>, foi professor no curso de <strong>Saúde Mental e Justiça no Instituto de Medicina Legal da Faculdade de Medicina da USP</strong>, <strong>membro da Comissão de Ética e Pesquisa da Faculdade de Farmácia da USP</strong>, mediador de conflitos judicial, foi membro da Comissão de Bioética da OBA-SP (2004).</p>
  </div>

</div>
<div class="container-mediator">
  <div class="card-mediator">
    <h2>ADMAR CONCON-NETO</h2>
    <p>Empreendedor serial, conselheiro de startups especialista em <strong>design thinking</strong>, <strong>design de modelo de modelo de negócios</strong> e <strong>desenvolvimento web</strong>. Mentor do programa de Resolução Eficaz de Problemas no <strong>Insper</strong>, <strong>mentor de startups</strong> no <strong>Founder Institute</strong>, voluntário no <strong>Chapter SP da Singularity University</strong> e faz parte do conselho de startups.</p>
  </div>
      <div class="card-mediator">
    <h2></h2>
    <h3></h3>
    <p></p>
  </div>
</div>
</div>
