<div class="container-mediator">

  <div class="card-mediator">
    <div class="mediator-name">
      <h2>CLAUDIA FRANKEL GROSMAN</h2>
    </div>
    <div class="mediator-special">
      <h3>Especialista em prevenção e gestão de conflitos
Mediação e Negociação</h3>
    </div>
    <div class="mediator-desc">
      <p> Certificada pelo ADR Group (Londres), IMI, International Mediation Institute e Instituto Familiae (atual Mediativa). Integra o painel de mediadores de várias instituições nacionais e do CPR International Institute for Conflict, Prevention & Resolution (NY). Advogada com MBA no INSPER. Docente e Supervisora da Prática de Mediação no Instituto Mediativa e professora convidada do Mediare RJ. Conselheira do Centro de Solução de Disputas, CSD-PI e Diretora da Câmara de Mediação, CMed-ABPI, da Associação Brasileira de Propriedade Intelectual. Diretora da Câmara de Mediação do Instituto de Engenharia. Mentora em gestão de Conflitos da AceStartups e Membro do Conselho Alumni do Insper. </p>
    </div>
  </div>

  <div class="card-mediator">
    <div class="mediator-name">
      <h2>DANI GLIKMANAS</h2>
    </div>
    <div class="mediator-special">
      <h3>Especialista em prevenção e gestão de conflitos
societários</h3>
    </div>
    <div class="mediator-desc">
      <p> Diretor de empreendimento de varejo (mall), especialista em design thinking, conselheiro de startups, mediador de conflitos, com profundo conhecimento em mercado financeiro, mentor na cadeira de Resoluções Eficaz de Problemas do Insper, conselheiro no IBRACEM, instituto que criou a primeira plataforma de compliance com uso de inteligência artificial, e voluntário no Chapter SP da Singularity University.</p>
    </div>
  </div>
</div>
<div class="container-mediator">

  <div class="card-mediator">
    <h2>CRISTIANE JIANG</h2>
    <h3>Facilitadora Gráfica e mediadora de conflitos</h3>
    <p>Facilitadora gráfica, especialista em Comunicação não-violenta, administradora de empresas pela FEA-USP e mediadora de conflitos. Tem 15 anos de experiência em financeiras e bancos de varejo, onde desenvolveu softskills de escuta ativa, data science e trabalho em equipes.</p>
  </div>

  <div class="card-mediator">
    <h2>OTÁVIO D'ELIA</h2>
    <h3>Especialista em Psicanálise e mediação de conflitos</h3>
    <p>Advogado (formado na faculdade de Direito da USP) com vasta experiência em Direito Administrativo e Tributário,  bacharel em Economia (FEA-USP), em Filosofia (FFLCH-USP),  Mestre em Ciências da Comunicação pela ECA-USP, Psicólogo e Psicanalista pelo Instituto Sedes Sapietiae, foi professor no curso de Saúde Mental e Justiça no Instituto de Medicina Legal da Faculdade de Medicina da USP, membro da Comissão de Ética e Pesquisa da Faculdade de Farmácia da USP, mediador de conflitos judicial, foi membro da Comissão de Bioética da OBA-SP (2004).</p>
  </div>

</div>
<div class="container-mediator">
  <div class="card-mediator">
    <h2>ADMAR CONCON-NETO</h2>
    <h3>Business design e desenvolvedor web</h3>
    <p>Empreendedor serial, conselheiro de startups especialista em design thinking, design de modelo de modelo de negócios e desenvolvimento web. Mentor do programa de Resolução Eficaz de Problemas no Insper, mentor de startups no Founder Institute, voluntário no Chapter SP da Singularity University e faz parte do conselho de startups.</p>
  </div>
      <div class="card-mediator">
    <h2></h2>
    <h3></h3>
    <p></p>

  </div>

</div>
