.container-skills{
  border: 1px orange dotted;
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

@media(max-width: 992px) {
  .container-skills{
  }
}

@media(max-width: 768px) {
  .container-skills{
    display: block;
  }
}

@media(max-width: 480px) {
  .container-skills{
    display: block;
  }
}

.circle{
  background-color: blue;
  border: 10px solid pink;
  margin: 40px;
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

.circle:hover{
  background-color: pink;
  border: 10px solid blue;
}






