.skill-title{
  margin: 50px;
}

.skill-title{
  margin: 50px;
}


.container-skills{
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

@media(max-width: 992px) {
  .container-skills{
  }
}

@media(max-width: 768px) {
  .container-skills{
    display: block;
  }
}

@media(max-width: 480px) {
  .container-skills{
    display: block;
  }
}

.circle{
  background-color: #00b99b;
  border: 10px solid #1e2d50;
  margin: 40px;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.circle:hover{
  background-color: #1e2d50;
  border: 10px solid #00b99b;
  color: white;
}

.skill-title{
  text-align: center;

}

.skill-title:hover{
  text-align: center;

}






