.skill-title{
  margin: 50px;
  h2{
    color: #395e66;
  }
  p {
    color: #67a9a1;
  }
}

.container-skills{
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

@media(max-width: 992px) {
  .container-skills{
    display: block;
  }
}

@media(max-width: 768px) {
  .container-skills{
    display: block;
  }
}

@media(max-width: 480px) {
  .container-skills{
    display: block;
  }
}

.circle{
  background-color: #395e66;
  border: 7px solid #67A9A1;
  margin: 40px;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.circle:hover{
  background-color: #FCB749;
  border: 7px solid #395e66;
  color: white;
}

.skill-title{
  text-align: center;
}

.skill-title:hover{
  text-align: center;
}

.fa-arrow-right{
  font-size: 50px;
  margin-top: 110px;
  color: #67A9A1;
}

@media(max-width: 992px) {
  .fa-arrow-right{
    visibility: hidden;
  }
}

@media(max-width: 768px) {
  .fa-arrow-right{
    visibility: hidden;
  }
}

@media(max-width: 480px) {
  .fa-arrow-right{
    visibility: hidden;
  }
}








