.container{
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 70px;
}

.fa-star{
  color: rgba(15,15,15,0.8);
  font-size: 100px;
}

.fa-star:hover{
  color: rgba(15,15,15,0.8);
  font-size: 120px;
}

.fa-hand-holding-usd{
  color: rgba(15,15,15,0.8);
  font-size: 100px;
}

.fa-hand-holding-usd:hover{
  color: rgba(15,15,15,0.8);
  font-size: 120px;
}

.fa-smile-wink{
  color: rgba(15,15,15,0.8);
  font-size: 100px;
}

.fa-smile-wink:hover{
  color: rgba(15,15,15,0.8);
  font-size: 120px;
}

.value-card{
  margin: 50px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  h2{
    font-size: 24px;
  }
  p{
    font-size: 16px;
  }
}

@media(max-width: 992px){
}

@media(max-width: 768px) {
  .container{
   display: block;
  }
  .value-card{
    margin: 10px;
  }
}

@media(max-width: 480px) {
  .container{
   display: block;
  }
  .value-card{
    margin: 10px;
  }
}


