.container{
  border: 1px orange dotted;
  margin: 20px auto;
  display: flex;
  // display: block;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}

.value-card{
  border: 1px pink dashed;
  text-align: center;
}

@media(max-width: 992px){
}

@media(max-width: 768px) {
  .container{
   display: block;
  }
}

@media(max-width: 480px) {
  .container{
   display: block;
  }
}
